body {
    background: url(bg.jpg);
    background-size: 100%;
    font-family: Georgia, serif;
    color:#f8e6f3; 
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(75, 33, 88, 0.45);
}

.header-title {
    margin: 60px 10px 0px 40px;
}

.header-text {
    margin: 10px 10px 40px 40px;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
    line-height: 20px;
    background-color:rgba(75, 33, 88, 0.45);
}

.container-menu {
    width: 24%;
    font-size: 20px;
}
.container-content {
    width: 24%;
    text-align: left;
    font-size: 14px;
}
.container-menu-button {
    background-color: transparent;
}

.container--menu-button {
   cursor: pointer;  
}
.container--menu-button p:hover {
    color:lightslategray
}

.footer {
    text-align: center;
    background-color:rgba(75, 33, 88, 0.45);
}
